<!DOCTYPE html>
<html>
<head>
    <title>Learn It!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Learn It!</a>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                <div class="background">
                    <img src="https://image.freepik.com/free-vector/web-programmer_23-2147502079.jpg">
                </div>
                <a href="#user">
                    <img class="circle" src="https://image.freepik.com/free-vector/web-programmer_23-2147502079.jpg">
                </a>
                <a href="#name"><span class="white-text name">{{ session['name'] }}</span></a>
                <a href="#email"><span class="white-text email">{{ session['email'] }}</span></a>
                </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>

        {% if not session['user_id'] %}
            <ul class="right hide-on-med-and-down">
                <li><a href="/register">Register</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
            </ul>
        {% else %}
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Profile</a></li>
            </ul>
        {% endif %}
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </nav>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        M.AutoInit();
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>


    {% block script %}{% endblock %}

</body>
</html>