{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col s12 m4 center-align">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" id="myavatar" src="static/avatar/{{current_user.avatar}}">
                    <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#modal1"><i class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                    <p id="bio">{{current_user.bio}}</p>
                </div>
            </div>
            <ul class="collection">
                <li class="collection-item">{{current_user.firstname}} {{current_user.lastname}}</li>
                <li class="collection-item">{{current_user.email}}</li>
            </ul>
            <a class="waves-effect waves-light btn modal-trigger col s12 m12" href="#settings">Settings</a>
        </div>
        <div class="col s12 m7 offset-m1">
            <div class="card">
                    <div class="card-content">
                        <h5>POST IT!</h5>
                        <p>One of the effective ways of easy remembering something is to post it!</p>
                    </div>
                    <div class="card-tabs">
                      <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#post1">Post 1</a></li>
                        <li class="tab"><a href="#post2">Post 2</a></li>
                        <li class="tab"><a href="#post3">Post 3</a></li>
                      </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                      <div id="post1">
                            <div class="row">
                                    <div class="col s12 m6">
                                        <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <span class="card-title">Card Title</span>
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">This is a link</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <span class="card-title">Card Title</span>
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">This is a link</a>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                            <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title">Card Title</span>
                                                <p>I am a very simple card. I am good at containing small bits of information.
                                                I am convenient because I require little markup to use effectively.</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="#">This is a link</a>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                      </div>
                      <div id="post2">Post 2</div>
                      <div id="post3">Post 3</div>
                    </div>
                  </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="settings" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Settings</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Update Avatar and Bio</h4>
            <div class="row">
                <form class="col s12" method="POST" action="{{url_for('pages.updateAvatarBio')}}" enctype="multipart/form-data">
                    <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="edit_bio" name="bio" class="materialize-textarea">{{current_user.bio}}</textarea>
                        <label for="edit_bio">Bio</label>
                    </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <i class="material-icons prefix">image</i>
                            <input type="file" id="avatar" accept="image/*" name="avatar">
                            <input class="file-path validate" type="text" placeholder="Upload Avatar">
                        </div>
                    </div>
                    <input type="hidden" name="toUploadAvatar">
                    <span id="bio_loading"></span>
                    
                    <button class="waves-effect waves-green btn right" id="saveAvatarBio">Save</button>
                </form>
            </div>
        </div>
    </div>
        

</div>

{% endblock %}

{% block script %}
<script>

    const bt = document.getElementById('saveAvatarBio');

    bt.onclick = function(e){
        e.preventDefault();
        e.stopPropagation();

        const url = "{{url_for('pages.updateAvatarBio')}}";
        const bio = document.getElementById('bio');
        const bio_data = document.getElementById('edit_bio');
        const avatar = document.getElementById('avatar');
        
        let formData = new FormData();
        formData.append('bio', bio_data.value);
        formData.append('avatar', avatar.files[0]);

        if(avatar.files[0]){
            formData.append('toUploadAvatar', 'True');
        }else{
            formData.append('toUploadAvatar', 'False');
        }

        const bio_loading = document.getElementById('bio_loading');
        bio_loading.innerHTML = "Please wait, Loading...";

        fetch(url, {
            method: 'POST',
            body: formData,
           credentials: 'include'
        }).then(response => {
            console.log(response)
            return response.json()
        }).then(data => {
            if(data.status == "success"){
                bio.innerHTML = bio_data.value;
                bio_loading.innerHTML = "";
            }else if(data.status == "success_avatar"){
                bio.innerHTML = bio_data.value;
                bio_loading.innerHTML = "";
                const profile_image = document.getElementById('myavatar');
                profile_image.src = data.avatar;
            }
        }).catch(err => console.log(err));
    }

    

</script>
{% endblock %}
