{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="card-panel">
    <h3 class="center">Registration Form</h3>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "register_success" %}
                    <div>
                        <div class="card-panel green lighten-2">{{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="/register">
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s12 m6">
            {{ form.firstname(class="validate") }}
            {{ form.firstname.label(class="active") }}
        </div>
        <div class="input-field col s12 m6">
            {{ form.lastname(class="validate") }}
            {{ form.lastname.label(class="active") }}
        </div>
        <div class="input-field col s12 m6">
            {{ form.email(class="validate") }}
            {{ form.email.label(class="active") }}
        </div>
        <div class="input-field col s12 m6">
            {{ form.password(class="validate") }}
            {{ form.password.label(class="active") }}
        </div>
        <div class="input-field col s4 m4">
            {{ form.bmonth() }}
        <label>Month</label>
      </div>
      <div class="input-field col s4 m4">
        {{ form.bday() }}
        <label>Day</label>
      </div>
      <div class="input-field col s4 m4">
        {{ form.byear() }}
        <label>Year</label>
      </div>
      <p>
        <label>
            <input class="with-gap" name="gender" value="M" type="radio" checked />
            <span>Male</span>
        </label>
        <label>
            <input class="with-gap" name="gender" value="F" type="radio" />
            <span>Female</span>
        </label>
      </p>
      {{ form.submit(class="btn-large white-text right") }}
    </div>
    </form>
</div>
</div>

{% endblock %}

{% block script %}
    <script>
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            M.toast({html: '{{error}}', classes: 'red'})
        {% endfor %}
    {% endfor %}
    </script>
{% endblock %}